/* Google 폰트 적용 안 됨 */
@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/GoogleSans-Medium.ttf") format("truetype"),
       url("/fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
